@use "../helpers/variables" as *;

.contact {
  margin-top: 100px;
  min-height: 100vh;
  overflow: hidden;
  @media (max-width: 972px) {
    margin-bottom: 100px;
  }
  position: relative;
  .contact-img {
    position: absolute;
    z-index: 3;
    top: 0;
    right: -500px;
    transition: all 0.3s ease-out;
    &.disp {
      right: 0;
    }

    @media (max-width: 1181px) {
      top: 4px;
    }
  }
  .contact-content {
    padding-top: 15vh;
    @media (max-width: 1181px) {
      padding-top: 34vh;
    }
    h1 {
      margin-bottom: 200px;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;

      @media (max-width: 768px) {
        margin-bottom: 100px;
      }
      @media (max-width: 1181px) {
        margin-bottom: 100px;
      }
    }
    form {
      width: 100%;
      opacity: 0;
      transition: all 0.8s ease;
      &.disp {
        opacity: 1;
      }
      .d-flex {
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        @media (max-width: 972px) {
          flex-direction: column !important;
        }
        .right,
        .left {
          flex: 0 0 1;
          max-width: 50%;
          @media (max-width: 972px) {
            max-width: 100%;
          }
        }
        .right {
          width: 100%;
          .input-wrapper {
            position: relative;
            span {
              position: absolute;
              top: 30px;
              right: 20px;
              font-size: 20px;
              color: #888;
              pointer-events: none;
              font-weight: 600;
              transition: all 0.3s ease-out;
            }
            input:focus {
              border: none;
              outline: 2px solid $skin-color;
            }
            input:focus + span {
              top: 5px;
              right: 10px;
              font-size: 15px;
              padding: 0 10px;
              background: #fff;
            }
          }
          input {
            width: 100%;
            margin: 20px 0;
            border: 2px solid #ff8024;
            border-radius: 10px;
            height: 55px;
            padding-right: 10px;
          }
        }
        .left {
          width: 50%;
          @media (max-width: 972px) {
            width: 100%;
          }
          textarea {
            width: 100% !important;
            height: 241px;
            max-height: 241px;
            border: 2px solid #ff8024;
            border-radius: 10px;
            padding: 20px;
            transition: all 0.3s ease;
            &:focus {
              transform: scale(1.05);
            }
          }
        }
      }
      .submit {
        button {
          background: transparent !important;
          color: $skin-color !important;
          border: 1px solid $skin-color;
          &:hover {
            background: $skin-color !important;
            color: #ffff !important;
          }
        }
      }
    }
  }
}
